@model TotalNetCore.ByMrXiao.ExceptionDemo.Exceptions.IknownException

@{
    ViewData["Title"] = "Error1";
}

<h1>错误信息</h1>

<div>Message:<label>@Model.Message</label></div>
<div>ErrorCode<label>@Model.ErrorCode</label></div>

